@media only screen and (min-width:  768px) and (max-width: 1023.9px) {
    #About {
        background-color: black;
        height: 1255.52px;
        width: 100%;
        position: relative;
    }

    #h2-01 {
        text-align: center;
        margin-top: 132.16px;
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 2em;
        font-style: normal;
    }

    #myDetails {
        position: absolute;
        color: white;
        width:  651.44px;
        height: 292.64px;
        left: 0;
        right: 0;
        top: 566.4px;
        margin: auto;
        background-color: rgb(30, 30, 30);
        border-radius: 20px;
        align-content: center;
    }

    #details {
        font-size: 17.244px;
        margin-left: 21.076000000000004px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    #tools {
        color: white;
    }

    #imgTools {
        color: white;
    }

    #viewMore {
        color: white;
    }

    #pic {
        position: absolute;
        width: 411.94px;
        height: 236px;
        top: 302.08px;
        right: 0;
        left: 0;
        margin: auto;
        border-radius: 20px;
        background-color: rgb(30, 30, 30);
    }

    #myPicture2 {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 100%;
    }

    #tools {
        position: absolute;
        top: 18.88px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        height: fit-content;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
    }

    #imgTools {
        position: absolute;
        height: fit-content;
        width: fit-content;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #allTools {
        position: absolute;
        width:  651.44px;
        height: 217.12px;
        background-color: rgb(30, 30, 30);
        left: 0;
        right: 0;
        margin: auto;
        bottom: 141.6px;
        border-radius: 20px;
    }

    #viewMore {
        width: fit-content;
        height: fit-content;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        text-decoration: underline solid white 1px;
        bottom: -31px;
        text-underline-offset:  9.44px;

    }

    #viewMore:hover {
        color: rgb(8, 119, 233);
        text-decoration: underline solid rgb(8, 119, 233) 2px;
    }
    #allTools>span{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
    img{
        width: 46px;
        height: 46px;
        margin-left: 23.95px;
        margin-right: 23.95px;
    }
    #circle{
        position: absolute;
        width: 139px;
        height: 139px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100%;
        background-color: white;
    }
    #profile-pic{
        filter: saturate(0);
        width: 111px;
        height: 166px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
    }
    #profile-pic:hover{
        filter: saturate(100%);
    }
}


/*------------------------------------------------------------------------------------------------*/

@media only screen and (min-width:  1024px) and (max-width: 1439.9px) {
    #About {
        background-color: black;
        height: 972.32px;
        width: 100%;
        position: relative;
    }

    #h2-01 {
        text-align: center;
        margin-top: 132.16px;
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 2em;
        font-style: normal;
    }
    #div-group{
        position: absolute;
        width: 850px;
        height: 550px;
        top: 279px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #div-group-2{
        position: absolute;
        right: 0;
        margin: auto;
        height: 550px;
        width: 300px;
    }
    #myDetails {
        color: white;
        width: 364.04px;
        height: 472px;
        background-color: rgb(30, 30, 30);
        border-radius: 20px;
        align-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50px;
        margin: auto;
    }

    #details {
        font-size: 14.37px;
        margin-left: 21.076000000000004px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    #tools {
        color: white;
    }

    #imgTools {
        color: white;
    }

    #viewMore {
        color: white;
    }

    #pic {
        position: absolute;
        width: 287.4px;
        height:  239.5px;
        top: 38px;
        right: 50px;
        margin:auto ;
        border-radius: 20px;
        background-color: rgb(30, 30, 30);
    }

    #myPicture2 {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 100%;
    }

    #tools {
        position: absolute;
        top: 18.88px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        height: fit-content;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
    }

    #imgTools {
        position: absolute;
        height: fit-content;
        width: fit-content;
        top: 75.52px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #allTools {
        position: absolute;
        width: 287.4px;
        height:217.12px;
        background-color: rgb(30, 30, 30);
        bottom: 38px;
        right: 50px;
        border-radius: 20px;
        margin: auto;
    }

    #viewMore {
        width: fit-content;
        height: fit-content;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        text-decoration: underline solid white 1px;
        bottom: -31px;
    }

    #viewMore:hover {
        color: rgb(8, 119, 233);
        text-decoration: underline solid rgb(8, 119, 233) 2px;
    }
    img{
        width: 50px;
        height: 50px;
    }
    #circle{
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100%;
        background-color: white;
    }
    #profile-pic{
        filter: saturate(0);
        width: 111px;
        height: 166px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
    }
    #profile-pic:hover{
        filter: saturate(100%);
    }
}

/*-------------------------------------------------------------------------*/
@media only screen and (min-width:  1440px){

    #About {
        background-color: black;
        height: 972.32px;
        width: 100%;
        position: relative;
    }

    #h2-01 {
        text-align: center;
        margin-top:132.16px;
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 2em;
        font-style: normal;
    }
    #div-group{
        position: absolute;
        width: 1073px;
        height: 550px;
        top: 279px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #div-group-2{
        position: absolute;
        right: 0;
        margin: auto;
        height: 550px;
        width: 300px;
    }

    #myDetails {
        position: absolute;
        color: white;
        width: 514.04px;
        height: 390px;
        background-color: rgb(30, 30, 30);
        border-radius: 20px;
        align-content: center;
        top: 0;
        bottom: 0;
        left: 95px;
        margin: auto;
    }

    #details {
        font-size: 17px;
        margin-left: 22.991999999999997px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    #tools {
        color: white;
    }

    #imgTools {
        color: white;
    }

    #viewMore {
        color: white;
    }

    #pic {
        position: absolute;
        width: 287.4px;
        height: 236px;
        top: 60px;
        right: 95px;
        margin:auto ;
        border-radius: 20px;
        background-color: rgb(30, 30, 30);
    }

    #myPicture2 {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 100%;
    }

    #tools {
        position: absolute;
        top: 18.88px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        height: fit-content;
        width: fit-content;
        left: 0;
        right: 0;
        margin: auto;
    }

    #imgTools {
        position: absolute;
        height: fit-content;
        width: fit-content;
        top: 75.52px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #allTools {
        position: absolute;
        width: 287.4px;
        height: 191.12px;
        background-color: rgb(30, 30, 30);
        border-radius: 20px;
        bottom: 60px;
        right: 95px;
        margin: auto;
    }

    #viewMore {
        width: fit-content;
        height: fit-content;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        text-decoration: underline solid white 1px;
        bottom: -31px;
    }

    #viewMore:hover {
        color: rgb(8, 119, 233);
        text-decoration: underline solid rgb(8, 119, 233) 2px;
    }
    img{
        width: 55px;
        height: 55px;
    }
    #circle{
        position: absolute;
        width: 150px;
        height: 150px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100%;
        background-color: white;
    }
    #profile-pic{
        filter: saturate(0);
        width:115px;
        height: 175px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
    }
    #profile-pic:hover{
        filter: saturate(100%);
    }
}