@media only screen and (min-width: 768px) and (max-width: 1023px){

    #assigment {
        background-image: url("../images/bg.png");
        width: 100%;
        height:  1307.2px;
        /*background-size: contain;*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 2976.52px;
        overflow: hidden;
    }


    #h1-03 {
        text-align: center;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
        color: white;
    }

    #grid-con {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top:  290.6px;
        display: grid;
        grid-template-columns: 320.96px 320.96px;
        padding: 10px;
        column-gap: 57.86px;
        row-gap: 32px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #assigment > div > div {
        width: 320.96px;
        height: 133.86px;
        background-color: black;
        border-radius: 8px;
    }

    #assigment > div > div > label {
        width: fit-content;
        height: fit-content;
        position: absolute;
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        left: 0;
        right: 0;
        margin: auto;
        top: 18.88px;
    }
    #assigment > div > div>div{
        position: relative;
    }
    #assigment > div > div{
        position: relative;
    }
    #assigment > div > div >div> button {
        /*margin-left: 2vw;*/
        margin-top: 28.32px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
        border-radius: 8px;
        width: 114.96px;
        height: 31.76px;
    }
    .button-set{
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
/*-------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1439px){

    #assigment {
        background-image: url("../images/bg.png");
        width: 100%;
        height:974.2px;
        /*background-size: contain;*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 2763px;
        overflow: hidden;
    }


    #h1-03 {
        text-align: center;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
        color: white;
    }

    #grid-con {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 280.6px;
        display: grid;
        grid-template-columns: 277.82px 277.82px 277.82px;
        padding: 10px;
        column-gap: 19.16px;
        row-gap: 32px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #assigment > div > div {
        width:  277.82px;
        height: 116.48px;
        background-color: black;
        border-radius: 8px;
    }

    #assigment > div > div > label {
        width: fit-content;
        height: fit-content;
        position: absolute;
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        left: 0;
        right: 0;
        margin: auto;
        top: 18.88px;
    }
    #assigment > div > div>div{
        position: relative;
    }
    #assigment > div > div{
        position: relative;
    }
    #assigment > div > div >div> button {
        /*margin-left: 2vw;*/
        margin-top: 28.32px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
        border-radius: 8px;
        width: 114.96px;
        height:  32.76px;
    }
    .button-set{
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

/*-------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1440px) {

    #assigment {
        background-image: url("../images/bg.png");
        width: 100%;
        height: 1122.2px;
        /*background-size: contain;*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 2763px;
        overflow: hidden;
    }


    #h1-03 {
        text-align: center;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
        color: white;
    }

    #grid-con {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 306.6px;
        display: grid;
        grid-template-columns:370.82px 370.82px 370.82px;
        padding: 10px;
        column-gap: 19.16px;
        row-gap: 32px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #assigment > div > div {
        width: 370.82px;
        height: 132.48px;
        background-color: black;
        border-radius: 8px;
    }

    #assigment > div > div > label {
        width: fit-content;
        height: fit-content;
        position: absolute;
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        left: 0;
        right: 0;
        margin: auto;
        top:  18.88px;
    }
    #assigment > div > div>div{
        position: relative;
    }
    #assigment > div > div{
        position: relative;
    }
    #assigment > div > div >div> button {
        /*margin-left: 2vw;*/
        margin-top: 28.32px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
        border-radius: 8px;
        width: 114.96px;
        height: 34.76px;
    }
    .button-set{
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
