@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #contact {
        width: 100%;
        height: 10vh;
        position: absolute;
        background-color: black;
        border-top: white solid 2px;
        border-bottom: white solid 2px;
        bottom: -465.4vh;
    }

    #contact > span {
        width: fit-content;
        height: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    #contact > span > label {
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;

    }

    #contact > span > button {
        width: 25vw;
        height: 5vh;
        background-color: rgb(36, 36, 36);
        border-radius: 7px;
        border: white 2px solid;

    }

    #contact > span > button > a {
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
}

/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    #contact {
        width: 100%;
        height: 10vh;
        position: absolute;
        background-color: black;
        border-top: white solid 2px;
        border-bottom: white solid 2px;
        bottom: -425.4vh;
    }

    #contact > span {
        width: fit-content;
        height: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    #contact > span > label {
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;

    }

    #contact > span > button {
        width: 25vw;
        height: 5vh;
        background-color: rgb(36, 36, 36);
        border-radius: 7px;
        border: white 2px solid;

    }

    #contact > span > button > a {
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
}

/*--------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1440px) {
    #contact {
        width: 100%;
        height: 10vh;
        position: absolute;
        background-color: black;
        border-top: white solid 2px;
        border-bottom: white solid 2px;
        margin: auto;
        bottom:-425.2vh;
    }

    #contact > span {
        width: fit-content;
        height: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    #contact > span > label {
        color: white;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;

    }

    #contact > span > button {
        width: 18vw;
        height: 5vh;
        background-color: rgb(36, 36, 36);
        border-radius: 7px;
        border: white 2px solid;

    }

    #contact > span > button > a {
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
}