header{
        position: fixed;
        height: 10vh;
        left: 0;
        top: 0;
        margin: auto;
        right: 0;
        width: 100%;
        background: rgb(30, 30, 30);
}
header>nav{
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 4vw;
}
header>nav>a {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    color: white;
    margin-right: 1vw;
    text-decoration: none;
}
header>img{
    position: absolute;
    width: 150px;
    height: 80px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 5vw;
}