@media only screen and (min-width:  768px) and (max-width: 1023px) {
    #Home {
        background-color: rgb(30, 30, 30);
        width: 100%;
        height: 100vh;
        position: relative;
    }
    /*-------------------------------------------------------------------------------------------*/
    #blob-01{
        width: 350px;
        height: 350px;
        top: 16vh;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
        border-radius: 30% 70% 70% 30% / 67% 66% 34% 33% ;
        background: white;
        filter: brightness(30%);
        animation: blob 5s ease-in-out infinite alternate-reverse;
        transition:  all 1s ease-in-out;
    }

    @keyframes blob {
        0%{
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50%{
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    }
    /*-------------------------------------------------------------------------------------------*/


    #myImg {
        position: absolute;
        width: 320px;
        height: auto;
        top: 10vh;
        margin: auto;
        right: 0;
        left: 0;
        margin: auto;
    }

    #h1-01 {
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 18vh;
        left: 0;
        right: 0;
        margin: auto;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        background: -webkit-linear-gradient(#eee, #6b6b6b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2em;
        text-align: center;
    }

    #container {
        display: inline-block;
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 0;
        right: 0;
        bottom: 9vh;
        margin: auto;
    }

    #h4-01 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: lightgray;
        font-size: 1.1em;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing infinite alternate;
        animation-duration: 2.5s;
        animation-timing-function: steps(30, end);
        animation-fill-mode: forwards;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 110%;
        }
    }

    #btnResumeAction {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: black;
        font-size: 1.1em;
        position: absolute;
        width: 22vw;
        height: 5vh;
        color: black;
        bottom: 4vh;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 8px;
        border: white solid 1px;
        font-weight: 600;
        cursor: pointer;
        background-color: white;
        text-align: center;
        align-content: center;
    }
}


/*-----------------------------------------------------------------------------------------------*/

@media only screen and (min-width:  1024px) and (max-width: 1439px){
    #Home {
        background-color: rgb(30, 30, 30);
        width: 100%;
        height: 100vh;
        position: relative;
    }
    /*-------------------------------------------------------------------------------------------*/
    #blob-01{
        width: 440px;
        height: 440px;
        top: 0;
        bottom: 0;
        right: 3vw;
        margin: auto;
        position: absolute;
        border-radius: 30% 70% 70% 30% / 67% 66% 34% 33% ;
        background: white;
        filter: brightness(30%);
        animation: blob 5s ease-in-out infinite alternate-reverse;
        transition:  all 1s ease-in-out;
    }

    @keyframes blob {
        0%{
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50%{
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    }
    /*-------------------------------------------------------------------------------------------*/


    #myImg {
        position: absolute;
        width: 456px;
        height: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0vw;
    }

    #h1-01 {
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 0;
        top: 0;
        left: 10vw;
        margin: auto;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        background: -webkit-linear-gradient(#eee, #6b6b6b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2em;
    }

    #container {
        display: inline-block;
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 10.3vw;
        bottom: 35vh;
    }

    #h4-01 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: lightgray;
        font-size: 1.1em;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing infinite alternate;
        animation-duration: 2.5s;
        animation-timing-function: steps(30, end);
        animation-fill-mode: forwards;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 110%;
        }
    }


    #btnResumeAction {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: black;
        font-size: 1.1em;
        position: absolute;
        width: 14vw;
        height: 5vh;
        color: black;
        top: 70vh;
        left: 11vw;
        border-radius: 8px;
        border: white solid 1px;
        font-weight: 600;
        cursor: pointer;
        background-color: white;
        text-align: center;
        align-content: center;
    }

}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width:  1440px){

    #Home {
        background-color: rgb(30, 30, 30);
        width: 100%;
        height: 100vh;
        position: relative;
    }

    /*-------------------------------------------------------------------------------------------*/
    #blob-01{
        width: 450px;
        height: 450px;
        top: 0;
        bottom: 0;
        right: 3vw;
        margin: auto;
        position: absolute;
        border-radius: 30% 70% 70% 30% / 67% 66% 34% 33% ;
        background: white;
        filter: brightness(30%);
        animation: blob 5s ease-in-out infinite alternate-reverse;
        transition:  all 1s ease-in-out;
    }

    @keyframes blob {
        0%{
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50%{
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    }
    /*-------------------------------------------------------------------------------------------*/

    #myImg {
        position: absolute;
        width: 456px;
        height: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
    }

    #h1-01 {
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 0;
        top: 0;
        left: 10vw;
        margin: auto;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        background: -webkit-linear-gradient(#eee, #6b6b6b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.8em;
    }

    #container {
        display: inline-block;
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 10.3vw;
        bottom: 35vh;
    }

    #h4-01 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: lightgray;
        font-size: 1.1em;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing infinite alternate;
        animation-duration: 2.5s;
        animation-timing-function: steps(30, end);
        animation-fill-mode: forwards;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 110%;
        }
    }


    #btnResumeAction {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: black;
        font-size: 1.1em;
        background-color: white;
        text-align: center;
        align-content: center;
        position: absolute;
        width: 14vw;
        height: 5vh;
        color: black;
        top: 70vh;
        left: 11vw;
        border-radius: 8px;
        border: white solid 1px;
        font-weight: 600;
        cursor: pointer;
    }

}
