#projects{
    height: fit-content;
    width: 100%;
    position: relative;
    /*background-color: rgb(30, 30, 30);*/
    margin-top: -3vh;
}
#h1-02{
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}